body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
  margin: 0;
}

.container {
  margin-top: 60px;
}

h1 {
  color: #38bdf8;
}

input {
  padding: 10px;
  width: 220px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

ul {
  padding: 0;
  margin-top: 20px;
}

li {
  background: #1e293b;
  margin: 10px auto;
  padding: 10px;
  width: 260px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

li:hover {
  background: #334155;
}

li span {
  cursor: pointer;
}

li button {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}
